<%= form_with url: "/", method: :post, model: FormComponentPreview::TestModel.new do |f| %>

  <h2>
    Have you been claimed by anyone else on a tax return for 2024?
  </h2>

  <p>
    Explanation of what it means to be claimed.
  </p>

  <%= render(CardComponent.new) do %>
    <%= render RadioButtonsComponent.new(form: f, method: :pineapple_pizza_preference, collection: FormComponentPreview.yes_no_options, item_value_method: :value, item_label_method: :label) %>
  <% end %>

  <%= render(CardComponent.new) do %>
    <%= render TextFieldComponent.new(form: f, method: :first_name, label: "Text input label") %>
  <% end %>

  <%= render(CardComponent.new) do %>
    <%= render TextFieldComponent.new(form: f, method: :last_name, label: "Text input label", help_text: "Help text") %>
  <% end %>

  <%= render(CardComponent.new) do %>
    <%= render CheckboxesComponent.new(form: f, method: :favorite_fruits, collection: FormComponentPreview.fruit_options, item_value_method: :value, item_label_method: :label) %>
  <% end %>

  <%= render SubmitButtonComponent.new(form: f) %>

<% end %>